	<!-- all script tags last for fast generation of initial page -->
<!-- 	<script src="/javascripts/d3.v2.min.js"></script> -->
	<script src="/javascripts/d3.js"></script>
    <script src="/javascripts/jquery-1.9.1.min.js"></script>
    <script src="/javascripts/all.js"></script>
</body>
</html>
