<!DOCTYPE html>
<!--[if lt IE 9]><html class="ie"><![endif]-->
<!--[if gte IE 9]><!--><html><!--<![endif]-->

<head>
	<!-- link tags first for fast generation of initial page  -->
	<link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/jquery-ui-1.10.1.custom.min.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/style.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/layout.css" />
	<title>change title (in views/header.ejs)</title>
	<link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
	<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta name="description" content="Search for Structures, Proteins, Macromolecules, PDB, Uniprot, Features, Sequences, Genes, PSSH, HSSP"/>
	<meta name="keywords" content="Structures, Proteins, Macromolecules, PDB, Uniprot, Features, Sequences, Genes, PSSH, HSSP"/>
</head>

<body id="home"> 
<header>
    <h1><a href="/">CHANGE THE HEADER (in views/header.ejs)</a></h1>

</header>
    
